data/intermediate
data/genomic/intermediate/snpef/ltet_ann_aa_snp_output_HIGH.vcf
data/genomic/intermediate/snpef/ltet_ann_aa_snp_output_moderate.vcf 
output/ancestral/ltet_filtered_ann_aa.vcf
data/processed
data/raw/genotypes
data/genomic/
dump
.snakemake/
output/gerp
output/ancestral
output/load/gerp
output/load/snpeff
output/models/annual
output/models/total_hom_het
output/models/per_gene_region
output/af
output/nonsynon*
output/inbreeding*
output/genotyping
output/biological_pathways/lms_per_region*
output/load/all_snps*
output/load_per_chr
output/load_per_window
output/models/from_lms.RData
output/models/other_gerp_cats
output/models/per_chr
output/random_draws/all_gerp0.RData
src
.Rproj.user
logs/
*.DS_Store
/.quarto/
.Rhistory
plots/old
scripts/12_plots/old
.Rhistory